<% include ../partials/header %>

<div class="container">
  
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3 class="text-centern "> CampCrush</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/campgrounds">Home</a>
        </li>
        <li class="list-group-item">
          <a href="/campgrounds/new">Create new campground</a>
        </li>
        <li class="list-group-item">
          <a href="#">Trending</a>
        </li>
      </ul>
    </div>
    
    
    <div class="col-sm-8 col-md-8">
      <div class="thumbnail" >
        <img class="image-responsive" src="<%= campground.image %>" alt="image">
        <div class="caption">
          <h3 id="caption-header"><%= campground.name %></h3> 
          <!--authorization check-->
          <%if(currentUser && campground.author.id.equals(currentUser._id)){%>
            <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground.id%>/edit">Edit</a> &nbsp;
            <form id="deleteform" action="/campgrounds/<%=campground.id%>?_method=DELETE" method=POST>
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          <%}%>
          
          <strong><p id="author_name">Posted by - <%= campground.author.username %></p></strong>
          <p><%= campground.description %></p>
           
          
          
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-success pull-right" href="/campgrounds/<%= campground._id %>/comments/new">Add a review</a> 
              </div>
            </div>
            
            <% campground.comments.forEach(function(comment){ %>
              <strong> <small> <%= comment.author.username %> </small> </strong> <br>
              <p id="comment_p"><%= comment.text %></p>
              <!--authorization check-->
              <% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
                <a href="/campgrounds/<%=campground.id%>/comments/<%=comment.id%>/edit">Edit</a> &nbsp;
                <form id="deletecommentform" action="/campgrounds/<%=campground.id%>/comments/<%=comment.id%>?_method=DELETE" method=POST>
                  <button class="btn btn-link">Delete</button>
                </form>
              <% } %>
              
            <% }) %>
          </div>
          &nbsp; <a class="btn btn-primary" href="/campgrounds">Back</a>
        </div>  
      </div>
    </div>
  </div>
  
</div>


<% include ../partials/footer %>